<div class="container"> 


	<div class="blog-header">
		<img ng-src= './../assets/img/officialLogo2.png' alt="Dream Journal" height="100" width="350">
		<p class="lead blog-description"> Search </p>
	</div>  


<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
      <input type="text" class="form-control" ng-model="searchBox" placeholder="Search for...">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->







	<div class="row"> 
	  <div class="blog-post"> 
			<div class ="mainDiv"> 
				<div class ="blogDiv"> 
					 <div class="individualPostDiv" ng-repeat="post in userList | filter: searchBox" > 


						  	<a href = "#/otherusers" ng-click="getUserEmail(post.email)"><p class ="searchPageBoxResult"><img ng-src= '{{ post.image }}' alt="Smiley face" height="70" width="70" style = "border-radius: 50%"> {{ post.name }} </p></a>

						</div> 
				  </div> 
				</div> 
			</div>		
		</div>
</div>


    <footer class="blog-footer">
        <a>Dream Journal</a>
      </p>
    </footer>
