<!-- 
<div class="container" ng-show = 'viewEditOptions'>
<div class="blog-header">
	<h1 class="blog-title">{{ postTitle }}</h1>
</div>  



<div class="row">
  <div class="blog-post">
			<div class ="mainDiv">
		    <h4 class="blog-post-meta"> {{ name }} </h4> 
		    <h6 class="blog-post-meta"> {{ postDate }}</h6>
		    <p ng-bind-html="post"></p>
		  </div> 
			<button ng-click= "deletePost(postTitle)" ng-show = "showButton()"> Delete Post </button>
			<button ng-click= "editPost()" ng-show = "showButton()"> Edit Post </button>			
	  </div>
</div>



</div> -->
<div class="container" ng-show = 'viewEditOptions'> 

	<div class="blog-header">
		<h1 class="blog-title">Dream Journal</h1>
	</div>  

	<div class="row"> 
	  <div class="blog-post"> 
			<div class ="mainDiv"> 
				<div class ="blogDiv"> 
					 <div class="individualPostDiv"> 

					  	<h3 class="blog-post-title"> {{ postTitle }} </h3>


						  	<p class="blog-post-meta"> {{ dreamType }} {{ postDate }} </p>
						  	<p class="blog-post-meta"> {{ name }} </p>
						    <p  ng-bind-html="post"></p>

						  	<button title="Delete Post" class="fa fa-times-circle" ng-click= "deletePost(postTitle)" ng-show = "showButton()"></button>
						  	
								<button title="Edit" class="fa fa-pencil" ng-click= "editPost()" ng-show = "showButton()"></button>		


						  	<button title = "Thumbs Up" class="fa fa-thumbs-o-up" ng-click = "likePost(postID)"> {{ like.length }}</button> 

						  	<button title = "Comment" class="fa fa-comment-o" ng-click ="showComments(postID); showButton()"> {{ postComment.length }}</button><br>

					  	<div ng-repeat ="comment in postComment" ng-show = "postID === viewComments">
						  	<h5 class="blog-post-meta"> {{ comment.userName }} <button class="fa fa-times-circle" ng-click= "deleteComment(post._id, comment._id);"ng-show ="comment.userName === isUser"></button></h5> 
						  	<h6 class="blog-post-meta"> {{ comment.comment }}  </h6>
						  </div>

					    <textarea type = "text"  id ="commentBox" class = "postTitle" ng-model="commentInput" placeholder= "Write Comment"  dl-enter-key="commentOnPost(commentInput, postID); commentInput = null" novalidate required></textarea>
						</div> 
				  </div> 
				</div> 
			</div>		
		</div>
</div>
<!-- <button class="fa fa-times-circle" ng-click= "deleteComment(postID, comment._id);"ng-show ="comment.userName === isUser"> -->
<div ng-hide = "viewEditOptions"  ng-show = "showButton()">
	<h1>Edit Post</h1>
	<form name ="myForm">
		<input type = "text" class = "postTitle" ng-model="postTitle" placeholder= "Place Blog Title Here" novalidate required></input>
		
		<div type="text" text-angular ng-model="post" required></div>

	<label for="singleSelect"> Was it a Dream or Nightmare? </label><br>
	    <select ng-model="dreamNightmare" required>
	      <option value= "Dream">Dream</option>
	      <option value= "Nightmare">Nigtmare</option>
	    </select><br>
	</form>
	<a href ="#/profile" ng-hide = "viewEditOptions" ><button ng-click ="updatePost(postTitle, post, dreamNightmare)" class ="blogBoxSubmit" ng-disabled="myForm.$invalid">Update Blog post</button></a>		
</div>



