<h1>Login View</h1>

<button ng-click="login()" />Login</button>

<input type="submit" ng-click="logout()" value="Log out" />



<!-- <div class='row'>
    <form ng-submit="requestUser(email, password)" novalidate>
      <div class='row'>
        <div>
          <input id='email' type='text' class='validate' ng-model='email'>
          <label data-error='Invalid' data-success='Valid'>Email</label>
        </div>
      </div>
      <div class='row'>
        <div>
          <input id='password' type='password' class='validate' ng-model='password'>
          <label for='password' data-error='Invalid' data-success='Valid'>Password</label>
        </div>
      </div>
      <button type='submit' name='action'>Login</button>
      <a href="#/signup">Sign Up</a>
    </form>
  </div> -->