<h1>Signup View</h1>
  <div>
    <form name="signupForm" ng-submit='createUser(firstName, email, password)' novalidate>
      <div>
        <div>
          <input id='firstName' type='text' class='validate' ng-model='firstName'>
          <label for='firstName' data-error='Invalid' data-success='Valid'>First Name</label>
        </div>
      </div>
      <div>
        <div>
          <input id='lastName' type='text' class='validate' ng-model='lastName'>
          <label for='lastName' data-error='Invalid' data-success='Valid'>Last Name</label>
        </div>
      </div>      
      <div>
        <div>
          <input id='email' type='email' class='validate' ng-model='email'>
          <label for='email' data-error='Invalid' data-success='Valid'>Email</label>
        </div>
      </div>
      <div>
        <div>
          <input id='password' type='password' class='validate' ng-model='password'>
          <label for='password' data-error='Invalid' data-success='Valid'>Password</label>
        </div>
      </div>
      <button type='submit' name='action'>Submit
      </button>
      <a href="#/login">Login
      </a>
    </form>
  </div>